<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Gerador de Conexão</title>

        <!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="../assets/lib/photon/dist/css/photon.min.css" />
        <link rel="stylesheet" href="../assets/css/custom.css" />
    </head>
    <body>
        <div class="window">
            <header id="header" class="toolbar toolbar-header"></header>
            <div id="mainContent" class="window-content"></div>
            <footer id="footer" class="toolbar toolbar-footer"></footer>
        </div>
        <!-- <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
        <script src="../../src/controller/controller.js"></script>
    </body>
</html>
