{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": ["error", "never"],
        "one-var": ["error", "never"],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "key-spacing": [
            2,
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "func-call-spacing": ["error", "never"],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-before-blocks": ["error", "always"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", { "words": true, "nonwords": false }],
        "spaced-comment": [
            "error",
            "always",
            {
                "line": { "markers": ["*package", "!", "/", ",", "="] },
                "block": {
                    "balanced": true,
                    "markers": ["*package", "!", ",", ":", "::", "flow-include"],
                    "exceptions": ["*"]
                }
            }
        ],
        "init-declarations": ["error", "always"],
        "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "camelcase": ["error", { "properties": "never" }],
        "implicit-arrow-linebreak": ["error", "beside"]
    }
}
