<!-- <h1 class="title">King PDF</h1> -->

<div class="toolbar-actions">
    <div class="btn-group pull-right">
        <button id="btnMinus" class="btn btn-default">
            <span class="icon icon-minus"></span>
        </button>

        <!-- <button id="btnPlus" class="btn btn-default">
        <span class="icon icon-plus"></span>
      </button> -->

        <button id="btnCancel" class="btn btn-default">
            <span class="icon icon-cancel"></span>
        </button>
    </div>
</div>
