<div class="pane-group">
    <div class="pane">
        <div class="container">
            <img class="img-title" src="pdf.png" width="60px" height="60px" />
        </div>

        <div class="container">
            <h1 class="font2 main-title">King PDF</h1>
        </div>
        <!-- <hr /> -->

        <div class="container">
            <form>
                <div class="form-group">
                    <div class="container">
                        <label for="filePath">File</label>
                    </div>
                    <div class="container">
                        <button
                            type="button"
                            id="btnFile"
                            class="button-test btn btn-large btn-default"
                        >
                            <span class="icon icon-folder"></span>
                        </button>
                        <div class="input">
                            <label for="filePath">File</label>
                            <input
                                type="text"
                                name="filePath"
                                id="filePath"
                                class="form-control"
                                value=""
                                readonly
                            />
                            <input id="fileLocation" type="file" />
                        </div>
                    </div>
                </div>

                <!-- <br />
                <br />
                <br />
                <br />
                <br /> -->

                <div class="form-group">
                    <!-- <div class="container left-side-btn">
                        <button type="button" id="btnOutput" class="btn btn-large btn-default">
                            <span class="icon icon-folder"></span>
                        </button>
                    </div> -->

                    <div class="container">
                        <div class="container left-side-btn">
                            <button type="button" id="btnOutput" class="btn btn-large btn-default">
                                <span class="icon icon-folder"></span>
                            </button>
                        </div>
                        <div class="container">
                            <label for="outputPath">Folder</label>
                            <input
                                type="text"
                                name="outputPath"
                                id="outputPath"
                                class="form-control"
                                value=""
                                readonly
                            />
                            <input
                                id="outputLocation"
                                type="file"
                                multiple
                                webkitdirectory
                                style="display: none"
                            />
                        </div>
                    </div>
                </div>

                <!-- <br />
                <br />
                <br />
                <br /> -->

                <div class="form-group">
                    <!-- <div class="container left-side-btn">
                        <button type="button" id="btnOutput" class="btn btn-large btn-default">
                            <span class="icon icon-folder"></span>
                        </button>
                    </div> -->
                    <div class="container">
                        <label for="layout">Layout</label>
                        <select id="layout" class="form-control"></select>
                    </div>
                </div>

                <!-- <br />
                <br /> -->

                <!-- <label for="layout">Layout</label>
                <select id="layout" name="layout" class="form-control">
                    <option value="holerite">Holerite</option>
                    <option value="ferias">Férias</option>
                </select> -->

                <!-- <div class="container btn-container">
                    <div class="form-actions">
                        <button type="button" id="btnConfig" class="btn btn-large btn-default">
                            <span class="icon icon-cog"></span>
                        </button>

                        <button type="button" id="btnSair" class="btn btn-large btn-negative">
                            Sair
                        </button>

                        <button type="button" id="btnGerar" class="btn btn-large btn-positive">
                            Gerar
                        </button>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>
